*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.celestino{
    color: #5ddecc;
}

/* Testo */
h2{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Nanum Myeongjo', serif;
}

p{
    color: #949494;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.br-line{
    width: 90px;
    border: 1px solid #1b304b;
    margin: 25px 0;
}

button{
    border: none;
    padding: 10px 20px;
    background-color: #5ddecc;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    border-radius: 25px;
}

button:hover{
    background-color: #426ead;
    transition: 0.5s linear;
}
/* /Testo */

/* Fonts */
.container{
    width: 100%;
}

/* 

    font-family: 'Nanum Myeongjo', serif;

    font-family: 'Roboto', sans-serif; 

*/
/* Header */
header{
    height: 90px;
}

header img{
    margin: 20px;
}
/* /Header */


/* Jumbotron */
.jumbotron{
    width: 100%;
    height: 750px;
    background-image: url('../img/home_finance_slider_bg.jpg');
    text-align: center;
}

.jumbotron h1{
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    line-height: 750px;
    font-size: 60px;
    font-weight: 400;
}
/* /Jumbotron */

/* Client Section */
.client-section{
    background-color: #f6f7f7;
    display: flex;
    justify-content: space-around;
}

.client-section li{
    display: inline-block;
    margin: 20px 0;
}

/* /Client Section */

/* Cloud Based Finance */
.wrapper{
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.wrapper .text-box,
.wrapper .img-box{
    margin: 100px 0;
    width: 50%;
}

.wrapper .text-box{
    padding: 60px;
    line-height: 1.6;
}

.wrapper p{
    margin-bottom: 25px;
}
/* /Cloud Based Finance */

/* Speciality Service */
.speciality{
    text-align: center;
    background-color: #f6f7f7;
    padding: 100px;
}

.speciality .br-line{
    margin: 25px auto;
}

.box-section{
    display: flex;
    width: 60%;
    margin: 100px auto;
}

.box{
    width: calc(100% / 3);
    background-color: white;
    margin: 10px;
}

.box i{
    color: #426ead;
    font-size: 60px;
    margin: 25px 0;
}

.box h3{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
}

.box p{
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;
    line-height: 1.6;
}

.box button{
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #5ddecc;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px
}

.box button:hover{
    background-color: #426ead;
    transition: 0.5s linear;
}
/* /Speciality Service */

/* Investment */
.numbers-box{
    width: 100%;
    display: flex;
}

.img-box-num,
.perc-box{
    width: calc(100% / 3);
}

.img-box-num{
    background-image: url('../img/counters-bg-image.jpg');
    padding: 150px 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-box-num p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
}

.img-box-num h2{
    color: white;
    margin: 50px 0;
}

.perc-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.numbers{
    width: 100%;
    padding: 50px;
}

.perc-box h2{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 400;
    color: #426ead;
}

/* /Investment */

/* Client Feedback */
.client-section{
    width: 100%;
    display: flex;
}

.four-boxes{
    width: calc(100% / 4);
    background-color: #fff;
    text-align: center;
}

.client-box,
.user-box{
    border: 1px solid #f6f7f7;
}

.client-box{
    padding: 30px 40px;
}

.client-box p{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    line-height: 1.6;
}

.user-box{
    padding: 20px;
}

.user-box p{
    text-transform: uppercase;
    line-height: 2;
    font-size: 12px;
    font-weight: 600;
}

.user-box p.bold{
    color: black;
    font-size: 14px;
}
/* /Client Feedback */

/* Ready to talk */
.talk-section{
    text-align: center;
    padding: 100px;
    background-image: url('../img/ready_to_talk_cta_bg.jpg');
}

.wrapper-ready{
    width: 40%;
    margin: 0 auto;
}

.talk-section h2{
    color: white;
    font-size: 60px;
}

.talk-section p{
    line-height: 1.6;
    margin: 40px 0;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
}
/* /Ready to talk */

/* Footer */
.footer-section{
    background-color: #19191f;
    width: 100%;
    display: flex;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}

.footer-section .four-boxes{
    background-color: transparent;
    text-align: left;
}

.footer-section p{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-section ul li{
    list-style: none;
    color: #949494;
    margin-bottom: 20px;
    font-size: 14px;
}

.footer-section .four-boxes i.fab{
    font-size: 30px;
    color: #4876b5;
}

.footer-section .four-boxes i.fas{
    font-size: 10px;
}
/* /Footer */

/* Copyright */
.copyright-section{
    width: 100%;
    background-color: #121316;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.right-copy ul li{
    width: 35px;
    height: 35px;
    list-style: none;
    display: inline-block;
    color:white;
    background-color: #5ddecc;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.left-copy p{
    line-height: 35px;
    font-size: 11px;
}
/* /Copyright */